/node_modules/
/public/
/src/
.env
.eslint
server.js
yarn.lock

user.js

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
package-lock.json

# Local History for Visual Studio Code
.history/